@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */


/* --------------------------------
 * challenge
 *
 * 288行目からの.ranking .order, .ranking .order::beforeの
 * スタイルをコメントアウトしてから適用してください。
 * -------------------------------- */
/*
.ranking .ranking-item {
  position: relative;
}
.ranking .image {
  margin-right: 20px;
}
.ranking .order {
  position: absolute;
  top: -9px;
  left: 44px;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  color: #aaa;
  text-align: center;
  font-weight: bold;
  line-height: 18px;
}
.ranking .order::before {
  content: counter(ranking);
  counter-increment: ranking;
  font-size: 1.0rem;
}
.ranking .ranking-item:nth-of-type(1) .order,
.ranking .ranking-item:nth-of-type(2) .order,
.ranking .ranking-item:nth-of-type(3) .order {
  line-height: 20px;
}
.ranking .text {
  width: 200px;
}
*/
